# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# OS files
.DS_Store

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# my sql db 
sentrix_backup.sql